:root {
  /* Cores Básicas */
  --white: #ffffff;
  --black: #000000;

  /* Tons de Cinza */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  /* Tons de Azul */
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;

  /* Tons de Vermelho */
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;

  /* Tons de Verde */
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;

  --border-bounds: var(--gray-400);
  --btn-bg: var(--blue-600);
  --btn-color: var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--gray-800);
}

.form-input {
  padding: 12px;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  width: 100%;
  outline: none;
}

.form-input:focus {
  border-color: var(--blue-500);
}

.form-input + .form-label {
  margin-top: 12px;
}

.form-label {
  color: var(--gray-500);
  align-self: flex-start;
  font-size: 14px;
}

.app-btn {
  width: 100%;
  background: var(--blue-500);
  border: none;
  border-radius: 4px;
  padding: 12px 8px;
  color: var(--white);
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
}

.card__title {
  font-size: 24px;
  font-weight: 600;
}

.card__title + .card__description {
  margin-top: 12px;
}

.card__description {
  color: var(--gray-600);
  font-size: 14px;
}

.login,
.signup {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__form,
.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}

.login__wrapper,
.signup__wrapper {
  max-width: 380px;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.login__form .btn,
.signup__form .btn {
  margin-top: 20px;
}

.account__warning {
  color: var(--gray-600);
  font-size: 14px;
  display: block;
  margin-top: 12px;
}

.alert {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  max-width: 350px;
  width: 100%;
  justify-content: space-between;
}

.alert__content {
  display: flex;
  gap: 12px;
  align-items: center;
}

.alert__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.alert__text span {
  font-size: 14px;
}

.alert--success {
  background: var(--green-600);
  border-color: var(--green-700);
  color: var(--white);
}

.alert--error {
  background: var(--red-600);
  border-color: var(--red-700);
  color: var(--white);
}

.alert__dismiss {
  color: var(--gray-300);
  background: transparent;
  border: 0;
  cursor: pointer;
  align-self: flex-start;
}

.alert__dismiss:hover {
  color: var(--white);
}
